.a{
    margin-left: 17%;
    width: 950px;
}
.one{
    margin-top: 10%;
    margin-left: 21%;
    font-size: 1.8em;
}
.t{
    font-size: 1.2em;
}
.tishi{
    margin-left: 3%;
    font-size: 1.2em;
}
.two{

    font-size: 1.2em;
    font-weight: bold;
}
.two1{
    margin-left: 33%;
    font-size: 1.3em;
    font-weight: bold;
}
.p{
    margin-left: 17%;
    margin-top: 5%;
    width: 950px;
}