.a{
    margin-left: 17%;
    margin-top: 7%;
    width: 950px;
}
.aa{
    font-size: 1.8em;
    margin-left: 5%;
}
.aaa{
    margin-left: 3%;
    font-size: 1.2em;
}
.p{
    margin-left: 17%;
    margin-top: 5%;
    width: 950px;
}