.biji{
    width: 1220px;
    height: 590px;
    margin-left: 7.5%;
    margin-top: 4%;
}
.top{
    width: 1218px;
    height: 40px;
    background-color: rgb(226, 223, 223);
}
.topa{
    color: rgb(77, 143, 56);
}
.top Button{
    height: 39px;
}
.top p{
    margin-top: -30px;
    float: right;
}
.bj p{
    color: rgb(126, 209, 241);
}
.sc p{
    color: white;
}
.left{
    width: 250px;
    height: 549px;
}
.menu1{
    width: 249px;
    height: 180px;
    background-color: rgb(231, 231, 231);
}
.icon{
    margin-left: 100px;
}
.icon p{
    margin-left:-25px;
    margin-top: 20PX;
}
.menu2{
    background-image: url("../../Img/120.jpg");
    background-size: 210px 300px;
    width: 249px;
    height: 367px;
}
.right{
    background-color: rgb(231, 231, 231);
    width: 968px;
    height: 549px;
    margin-left: 250px;
    margin-top: -550px;
}
.shuru{
    width: 600px;
    height: 450px;
    margin-left: 180px;

}
.shuru TextArea{
    margin-top: 50px;
}
.shuru Button{
    margin-left: 270px;
    margin-top: 15px;
}